@import "normalize.css/normalize";
// Bourbon is vendorized until 5.0 is released as an npm package
@import "bourbon/bourbon";
// Bourbon Bitters Scaffolding
@import "base/base";

body {
  color: $base-font-color;
}

.container {
  @include outer-container;
}

.content {
  @include span-columns(10);
  @include shift(1);
}

section {
  margin-bottom: $base-spacing;
}

.placeholder {
  display: none;
}
