<script type="text/javascript">

  document.addEventListener("DOMContentLoaded", function (event) {
    var elmApp = Elm.App.fullscreen({
      host: document.location.host,
      topic: "jams:<%= Application.get_env(:loops_with_friends, :jam_balancer).current_jam %>"
    });
  });

</script>
